name: CI

on:
  push:
    branches: ["main"]
  pull_request:
  workflow_dispatch:

jobs:
  check:
    runs-on: [ubuntu-latest]
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: ./.github/actions/setup-deno-with-cache

      - id: fmt
        run: deno fmt --check
      - id: lint
        run: deno lint
      - id: test
        run: deno test -A
      - id: doc_lint
        run: deno task doc:lint
