name: Release test
on:
  workflow_dispatch:
    inputs:
      prerelease_suffix:
        description: "pre-release suffix. ex: 0.1.0-a1"
        required: true

jobs:
  draft_release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    outputs:
      tag_name: ${{ steps.release-drafter.outputs.tag_name }}
    steps:
      # Get next version
      - uses: release-drafter/release-drafter@b1476f6e6eb133afa41ed8589daba6dc69b4d3f5 # v6.1.0
        id: release-drafter
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  prerelease:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    if: github.event_name == 'workflow_dispatch'
    needs: draft_release
    steps:
      # Create version string from tag (v1.0.0 -> 1.0.0)
      - name: Create version string
        run: |
          export TAG_NAME=${{ needs.draft_release.outputs.tag_name }}
          echo "VERSION=${TAG_NAME:1}" >> $GITHUB_ENV
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Setup git config
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

      - name: Update deno.jsonc version and commit
        run: |
          jq '.version = "${{ env.VERSION }}-${{ env.PRERELEASE_SUFFIX }}"' deno.jsonc > temp.jsonc && mv temp.jsonc deno.jsonc
          git add deno.jsonc
          git commit -m "chore: release v${VERSION}-${PRERELEASE_SUFFIX}"
        env:
          PRERELEASE_SUFFIX: ${{ inputs.prerelease_suffix }}
      - name: Publish package and git push
        run: |
          npx jsr publish
          git push origin HEAD
