name: Release
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  draft_release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    outputs:
      tag_name: ${{ steps.release-drafter.outputs.tag_name }}
    steps:
      # Get next version
      - uses: release-drafter/release-drafter@6db134d15f3909ccc9eefd369f02bd1e9cffdf97 # v6.2.0
        id: release-drafter
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  release:
    name: Release
    runs-on: ubuntu-latest
    environment:
      name: prod
      url: https://jsr.io/@kesin11/gha-utils
    permissions:
      contents: write
      id-token: write
    if: github.event_name == 'workflow_dispatch'
    needs: draft_release
    steps:
      # Create version string from tag (v1.0.0 -> 1.0.0)
      - name: Create version string
        run: |
          export TAG_NAME=${{ needs.draft_release.outputs.tag_name }}
          echo "VERSION=${TAG_NAME:1}" >> $GITHUB_ENV
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: main
      - name: Setup git config
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

      - name: Update deno.jsonc version and commit
        run: |
          jq '.version = "${{ env.VERSION }}"' deno.jsonc > temp.jsonc && mv temp.jsonc deno.jsonc
          git add deno.jsonc
          git commit -m "chore: release v${VERSION}"
      - name: Publish package and git push
        run: |
          npx jsr publish
          git push origin HEAD

      - uses: release-drafter/release-drafter@6db134d15f3909ccc9eefd369f02bd1e9cffdf97 # v6.2.0
        id: release-drafter
        with:
          publish: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
